*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
    background-color: #121212;
}
/* header */
header {
    background-image: 
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(/img/background-poster.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    color: white;
}

header a {
    text-decoration: none;
    background-color: rgba(75, 75, 75, 0.699);
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    color: white;
}
/* Form */
.form {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 17vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 22.5rem;
    height: 2.5rem;
}

.form input,
.form button {
    padding: 0.6rem 0.8rem;
    color: white;
    border: none;
    font-size: 1em;
}

.form input {
    background-color: #4b4b4b;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 270px;
}

::placeholder {
    color: #a5a5a5;
    opacity: 1;
  }
  
::-ms-input-placeholder {
    color: #a5a5a5;
  }

.form button {
    background-color: #a5a5a5;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 90px;
}
/* Container with serched movies */
main {
    padding: 3.5rem 2rem;
    color: #ffffff;
}

.poster-container,
.poster-container img {
    width: 7rem;
}

.poster-container,
.movie-container,
.description-container,
.title-rating,
.length-genres-add {
    display: flex;
    gap: 0.5rem;
}

.poster-container {
    height: 11rem;
    align-items: center;
}

.movie-container {
    align-items: center;
    font-size: 0.85rem;
    border-bottom: 1px solid #a5a5a5;
    padding: 1rem 0;
}

.description-container {
    flex-direction: column;
}

.length-genres-add {
    font-weight: 530;
    align-items: center;
}
/* add to wichlist button */
.length-genres-add .add {
    cursor: pointer;
}

.length-genres-add .add.active {
    color: green;
}

.description {
    color: #a5a5a5;
}
/* movie container placeholder */
.placeholder-container {
    width: 100%;
    margin-top: 10rem;
    text-align: center;
    color: #2e2e2f;
    font-weight: bold;
}

.empty {
    margin: 0.5rem;
}
/* pop-up messages */
.message-container {
    position: fixed;
    bottom: 5rem;
    margin-left: auto;
    left: 0;
    right: 0;
    width: 0;
    font-size: 0;
    background-color: #4b4b4b;
    border-radius: 0.2rem;
    transition: .3s ease;
    color: white;
}

.message-container.active {
    width: 20rem;
    font-size: 1.8rem;
    padding: 0.5rem;
}

@media (max-width: 450px) {
    header {
        font-size: 3vw;
    }

    .form {
        width: 80vw;
    }

    .form input,
    .form button {
        padding: 0.6em 0.8em;
        font-size: 4vw;
    }

    .form input {
        width: 80vw;
    }

    .form button {
        width: 20vw;
    }
}


